.home {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 768px){
    padding-bottom: 3rem;
  }
  img {
    max-width: 8.5rem;
  }
  .hi-there {
    padding-top: 2vw;
    font-weight: 400;
  }
  .about-me {
    div {
      p {
        display: block;
        padding-top: 1rem;
      }
    }
  }
  .socials {
    max-width: 80%;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
}