.card {
  .hover-up {
    top: 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-bottom: 2rem;
    width: 21vw;
    margin: 0 1vw;
    @media only screen and (max-width: 769px){
      width: 50vw;
      margin: 0vw;
    }
    @media only screen and (max-width: 577px){
      width: 80vw;
    }
    
    &:hover {
      top: -20px;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .box-shadow {
      -webkit-box-shadow: 0 10px 22px rgba(0,0,0,.08);
              box-shadow: 0 10px 22px rgba(0,0,0,.08);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      padding: 0px!important;
      border-radius: 25px 25px 25px 25px;
      
      &:hover {
          -webkit-box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
                  box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
                  border-radius: 25px 25px 25px 25px;
      }
      
      img {
          border-radius: 25px 25px 0px 0px;
          width: 100%;
          height: auto;
      }
      .box {
        padding: 2rem;
      }
    }
  }
}