.navbar {
  position: fixed;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  @media only screen and (max-width: 768px){
    position: static;
    padding-top: 4vh;
    padding-left: 4vw;
  }
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  min-height: 61vh;
  @media only screen and (max-width: 768px){
    flex-direction: row;
    min-height: auto;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    #name {
      user-select: none;
    }
    a, #name {
      margin-bottom: 1rem;
      width: fit-content;
      p {
        width: fit-content;
        color: #3873F9;
        border-bottom: 1px solid #3873F9;
      }
      &.active {
        p {
          width: fit-content;
          border-bottom: none;
          color: inherit;
        }
      }
    }
    .work-ex {
      outline: none;
      -webkit-tap-highlight-color: rgba(100, 255, 255, 0);
      cursor: pointer;
      font-weight: normal;
      opacity: 0.7;
      font-weight: 300;
      margin-bottom: 1rem;
      &.hide {
        display: none;
      }
      &.show {
        display: block;
        margin-left: 1vw;
      }
      p {
        user-select: none;
      }
      a {
        margin-bottom: 10vh;
        p {
          color: inherit;
          border-bottom: none;
        }
      }
    }
  }
  .theme {
    margin-top: 4rem;
  }
  
}