.projects {
  display: flex;
  flex-direction: column;
  .project {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    .img {
      display: block;
      height:40vh;
      width:30vw;
      @media only screen and (max-width: 768px){
        width: 90vw;
      }
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 2px;
      border: 0.5px solid #EEE;
    }
    .primary {
      font-weight: 500;
      width:30vw;
      @media only screen and (max-width: 768px){
        width: 90vw;
      }
    }
    .secondary {
      width:30vw;
      @media only screen and (max-width: 768px){
        width: 90vw;
      }
    }
  }
}