.work {
  width: fit-content;
  display: flex;
  flex-direction: column;
  .jobs {
    .job {
      margin-bottom: 2rem;
      .primary {
        font-weight: 500;
      }
      .secondary {
        font-size: 0.9rem;
        margin: 0.25rem 0 0.5rem 0;
      }
      .point {
        opacity: 0.7;
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}