.experience {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media only screen and (max-width: 769px){
    flex-direction: column;
    align-items: left;
  }
  .title{
    margin-bottom: 0.25rem;
  }
  .logo {
    display: flex;
    align-items: center;
    .img-responsive {
      width: 10rem;
      margin-right: 1rem;
      @media only screen and (max-width: 769px){
        margin-bottom: 1rem;
      }
    }
  }
  .highlight:before {
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0px;
    bottom: -4px;
    content: "";
    display: block;
    background-color: #ff9683;
    z-index: -1;
    opacity: 1;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
  .points{
    margin-top: 1.5rem;
    line-height: 2rem;
  }
}