.app {
  display: flex;
  flex-direction: row;  
  @media only screen and (max-width: 768px){
    flex-direction: column;  
  }
  .app-content {
    max-width: 40vw;
    margin-left: 30vw;
    padding-top: 10vh;
    padding-left: 10vw;
    @media only screen and (max-width: 768px){
      max-width: 95vw;
      margin-left: unset;
      padding-top: 4vh;
      padding-left: 4vw;
    }
  }
}