@font-face {
    font-family: 'SF-Pro-Text';
    src: url("./assets/font/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Text';
    font-weight: bold;
    src: url("./assets/font/SF-Pro-Text-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Open Sans';
  src:  url('./assets/font/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src:  url('./assets/font/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src:  url('./assets/font/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('./assets/font/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('./assets/font/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('./assets/font/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('./assets/font/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  body {
    background: #FCFCFC;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    outline: none;
    a {
      text-decoration: none;
      position: relative;
      color: inherit;
      &:visited {
        color: inherit;
      }
      &.highlight {
        text-decoration: underline;
        color: #3873F9;
      }
      &.nohighlight {
        text-decoration: none;
        color: inherit;
      }
    }
    p {
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
  }
}

.container {
  max-width: 70%;
  margin-left: 15%;
  @media only screen and (max-width: 992px) and (min-width: 768px){
    max-width: 85%;
    margin-left: 7.5%;
  }
  @media only screen and (max-width: 769px) and (min-width: 577px){
    max-width: 85%;
    margin-left: 7.5%;
  }
  @media only screen and (max-width: 577px){
    max-width: 90%;
    margin-left: 5%;
  }
}

